<html>
<head> 
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
<script type="text/javascript">
		var data=<%-JSON.stringify(data)%>;
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", { 
				title: {
					text: "Graph:"
				},
				axisX: {						
					title: "Time"
				},
				axisY: {						
					title: "Height"
				},
				data: [
				{
					type: "spline",
					dataPoints:data,
				}
				]
			});	
			chart.render();	
		}
</script>
</head>  
<body>
	
	<% if(c==1){%>
	<h1>
			Perfectly Elastic Collision!Try entering coeff. of restitution in [0,1)! (1 not included)
	</h1>
	<%}else{%>
		<div id="chartContainer" style="width:100%; height:280px"></div> 
		<h1>
		Bounces : <%=bounce%>
		</h1>
	<%}%>
	<a href="/">Check graph for other inputs</a>
	<form action="/history" method="GET">
			<input type="submit" value="Click here to see past calculations"/>
	</form>
</body>
</html>